<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.UploadMapper">

	<!--select all-->
	<select id="boardList" resultType="com.co.kr.domain.BookListDomain">
	  SELECT bd_seq, mb_id, bd_title, bd_content, bd_create_at, bd_update_at
	  FROM jsp.book order by bd_update_at desc
	</select>
	
	<!-- content -->
	<select id="boardSelectOne" resultType="com.co.kr.domain.BookListDomain" parameterType="map">
    SELECT bd_seq, mb_id, bd_title, bd_content, bd_create_at, bd_update_at
    FROM jsp.book where bd_seq = #{bdSeq}
	</select>


	<!-- content insert -->
	<insert id="contentUpload" parameterType="com.co.kr.domain.BookContentDomain"
	useGeneratedKeys="true"
        keyProperty="bdSeq" keyColumn="bd_seq">
	
        INSERT INTO jsp.book (
            mb_id,   
						bd_title,                         
						bd_content  
        )
        VALUES (
            #{mbId},
            #{bdTitle},
            #{bdContent}
        )
	</insert>
	

		<!-- Content update -->
    <update id="bdContentUpdate" parameterType="com.co.kr.domain.BookContentDomain">
        UPDATE jsp.book SET
                bd_seq=#{bdSeq},
                mb_id=#{mbId},
                bd_title=#{bdTitle},
                bd_content=#{bdContent}, 
                bd_update_at=now()  
        WHERE bd_seq=#{bdSeq}
    </update>



	<!-- Content delete -->
    <delete id="bdContentRemove" parameterType="hashMap">
       DELETE FROM jsp.book WHERE bd_seq=#{bdSeq}
    </delete>

</mapper>